@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }

  header .row .col-md-5 img {
    position: relative;
    top: -100px;
    width: 20rem;
    height: 20rem;
  }

  #section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }

  #section-2 .cover {
    background-position: -25vmin -10vmin;
  }

  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }

  .numbers .rect h1 {
    font-size: 2rem;
  }

  #section-3 {
    background: #f8f9fa;
    padding-bottom: 15%;
  }

  #section-4 {
    height: inherit;
    padding: 10vmin !important;
  }

  #section-4 .row h1 {
    padding: 6vmin 4vmin;
    font-size: 35px;
  }

  #section-4 .row h3 {
    font-size: 20px;
  }

  #section-4 .row p {
    font-size: 15px;
  }

  #section-4 .platform .col-md-6 {
    text-align: center !important;
  }

  #section-4 .desktop i {
    font-size: 8vmin;
  }

  #section-4 .carousel-item {
    padding-left: 0.6rem;
  }

  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}

/* screen size 375px */

@media only screen and (max-width: 375px) {
  .section-4 .card {
    width: 18em;
  }
}

@media only screen and (max-width: 320px) {
  .section-4 .carousel-inner {
    margin-left: -4vmin;
  }
}